%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
    margin-right: rem(10);
	}
}
._icon-stairs:before {
  content: "\e912";
  color: #e7e8e3;
}
._icon-arrow:before {
  content: "\e900";
}
._icon-bathtub:before {
  content: "\e901";
}
._icon-bed:before {
  content: "\e902";
}
._icon-description:before {
  content: "\e903";
  
}
._icon-facebook:before {
  content: "\e904";
}
._icon-family:before {
  content: "\e905";
}
._icon-house:before {
  content: "\e906";
}
._icon-in:before {
  content: "\e907";
}
._icon-inst:before {
  content: "\e908";
}
._icon-key:before {
  content: "\e909";
}
._icon-payments:before {
  content: "\e90a";
  color: #CF6F49;
}
._icon-place:before {
  content: "\e90b";
}
._icon-receipt:before {
  content: "\e90c";
}
._icon-search:before {
  content: "\e90d";
}
._icon-shopping:before {
  content: "\e90e";
}
._icon-square:before {
  content: "\e90f";
}
._icon-star:before {
  content: "\e910";
}
._icon-twit:before {
  content: "\e911";
}
