
.about {

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
    gap: rem(20);
    @include adaptiveValue("margin-top",50 , 30);
    justify-content: space-between;
    align-items: center;
    @media (max-width: em(575)){
        text-align: center;
    }
  }
  &__img{
    
  }
  &__img img{
    width: 100%;
  }
  &__content {
   
    
  }

  &__title {
    font-weight: 600;
    
    @include adaptiveValue("font-size", 48, 30);
    line-height: 80px;
  }

  &__rext {
    font-weight: 400;
    @include adaptiveValue("font-size", 20, 17);
    line-height: 30px;
     color: #8F95A5;
  }

  &__numetric {
    display: flex;
    
    justify-content: space-between;
    text-align: center;
    @media (max-width: em(350)){
      flex-direction: column;
        
    }
  }

  &__numetric-item {
    flex: 0 1 33.333%;
  }

  &__number {
    font-weight: 600;
    @include adaptiveValue("font-size", 40, 25);
    line-height: 80px;
    @media (max-width: em(350)){
      flex-direction: column;
      font-size: rem(48);
    }
  }

  &__name {
    
    @include adaptiveValue("font-size", 20, 15);
    line-height: 30px;



color: #8F95A5;
  }

  &__content-img {
   display: inline-block;
  }
}
