//====================================================================================================
.footer {
  background: #fff;
  &__container {
  }

  &__main {
    display: flex;
    gap: rem(20);
    justify-content: space-between;
   padding: rem(50) rem(0) ;
  }

  

  &__pages {
    display: flex;
    gap: rem(80);

  &--name {
  }
  }


  &__title {
    font-size: rem(16);
    font-style: normal;
    line-height: 24px;
    margin-bottom: rem(16);
      }

  &__name--item {
  }

  &__name--link {
    font-size: rem(14);
    font-style: normal;
    line-height: 21px;
    margin-bottom: rem(16);
  }

  &__form {
  }

  &__subtitle {
    margin-bottom: rem(15);
  }

  &__privacy {
    margin-top: rem(15);
    display: flex;
    gap: rem(10);
  }

  &__privacy--police {
    @media (any-hover: hover){
      &:hover{
        color: $bronzeColor;
      }
    }
  }

  &__bottom {
    padding: rem(50) rem(0) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom--item { 
    display: flex;
  }

  &__bottom--link {
    font-size: rem(20);
    gap: rem(30);
  }
  &__input{
    padding: rem(15);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 6px;
  }
}


//====================================================================================================
