//====================================================================================================

//====================================================================================================
.footer {
  &__container{
   
  }
  &__bot {
    color: #777777;
    background: #111111;
    padding: rem(30);
  }
  

  &__text {
    font-size: 12px;
line-height: 20px;
  }
}
