.section {

  &__hero {
  }
}
.hero {

  &__container {
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
   align-items: center;
   @media (max-width: em(629)){
    text-align: center;
    br{
      display: none;
    }
    .img-content{
      order: -1;
    }
    .text-content{
      order: 1;
    }
   }
  }

  &__content {
    
    &:not(:last-child) {margin-bottom: 50px;}
  }

  &__title {
    
    font-weight: 600;
     @include adaptiveValue("font-size", 63, 50);
    line-height: rem(80);
    margin-bottom: rem(40);
    
    &::before{
      content: "\e900";
      position: absolute;
      @extend %ic;
      top: 20%;
      right: 56%;
      
      @include adaptiveValue("font-size",100 , 50);
      @media (max-width: em(976)){
        
        right: 47%;
        font-size: 70px;
      }
      @media (max-width: em(762)){
        right: 40%;
      }
      @media (max-width: em(629)){
       display: none;
       }
    }
    
  }

  &__text {
    font-weight: 400;
    font-size: rem(24);
    line-height: rem(36);
    color: #8F95A5;
    margin-bottom: rem(101);
    
  }

  &__btn {
    border-radius: 15px;
	
    // padding: rem(32) rem(116);
    @include adaptiveValue("font-size",36 ,18 );
    @include adaptiveValue("padding-top", 32 ,19 );
    @include adaptiveValue("padding-bottom", 32 ,19 );
    @include adaptiveValue("padding-left", 117 ,67 );
    @include adaptiveValue("padding-right", 117 ,67 );
  }

  &__img-item {
    width: 100%;
  }
}

.hero__header{
  display:flex;
}
  




