
.skills {

  &__container {
    padding: rem(30) 0;
  }

  &__title {
    @include adaptiveValue("font-size",48 , 36);
    font-weight: 600;
    line-height: rem(80);
    text-align: center;
    margin-bottom: rem(53);
  }

  &__block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 30px;
    @media (max-width: em(970)){
      display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
        
    }
  }

  &__text{
    margin: rem(15) 0 ;
  }

  &__card {
    display: grid;
    grid-template-rows: auto ;
    background: #F5F5F5;
    border-radius: 10px;
   
    
  }

  &__card-title {
    @include adaptiveValue("font-size", 22px , 13px);
    font-weight: 600;
    font-size: 22px;
    line-height: rem(80);
    color:$mainColorBlue;
  }

  &__card-text {
    // grid-column: 1;
    // grid-row: 1;
    font-weight: 400;
    @include adaptiveValue("font-size",16 , 13);
    line-height: 21px;

    color: #8F95A5
    
  }

  &__card-btn {
    display: inline-block;
    padding: rem(16) rem(40);
    border-radius: 5px;
  }
  &__card-text{
    padding: 30px;


  }
}
.card__img{
  
}
.card-long {
  // grid-column: span 2;
  grid-row: span 2;
  
 
  .skills__card-btn{
    display: inline-block;
    margin-top: 70px;
  }
}


.card-big {
  grid-column: span 2;
  // display: flex;
  // flex-direction: row-reverse;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
  align-items: center;
  .card__img{
    order: 1;
    }
  .skills__text{
    order: -1;
    }
}
.card-machine{
  margin-left: 0px;
  @media (min-width: rem(863)){
    max-width: 279px;
    margin-left: 120px;
  }
}
